@model TranslatorApp.Models.WordModel

<link rel="stylesheet" href="/css/adminPgStyle.css"> 

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-end">
          <h5>Yenilə</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
         <form asp-action="UpdateWord" asp-controller="Admin" method="post" autocomplete="off">
        <div class="modal-body">
                <div class="form-group mt-1">
                  <label for="azeWord" class="text-primary">Azərbaycan</label>
                  <input  type="text" class="form-control" id="azeUp" disabled>
                  <input asp-for="WordAzeSelected" class="d-none" type="text" id="azeUpHidden">
                </div>
                 <div class="form-group mt-2">
                  <label for="latinWord" class="text-primary">Latın</label>
                  <input asp-for = "wordtoupdate.Latin" type="text" class="form-control" id="latinUp">
                </div> 
                <div class="form-group mt-2">
                  <label for="qazaxWord" class="text-primary">Qazax</label>
                  <input asp-for = "wordtoupdate.Qazax" type="text" class="form-control" id="qazaxUp">
                </div>
                <div class="form-group mt-2">
                  <label for="ozbekWord" class="text-primary">Özbək</label>
                  <input asp-for = "wordtoupdate.Ozbek" type="text" class="form-control" id="ozbekUp">
                </div>
                <div class="form-group mt-2">
                  <label for="turkWord" class="text-primary">Türk</label>
                  <input asp-for = "wordtoupdate.Turk" type="text" class="form-control" id="trUp">
                </div> 
                <div class="form-group mt-2">
                  <label for="rusWord" class="text-primary">Rus</label>
                  <input asp-for = "wordtoupdate.Rus" type="text" class="form-control" id="rusUp">
                </div>
                

        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ləğv et</button>
          <button type="submit" class="btn btn-primary">Yadda saxla</button>
        </div>
          </form>
      </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <form asp-action="DeleteWord" asp-controller="Admin" method="post" autocomplete="off">
           <div class="modal-body">
               <h5 class="text-center">Söz birdəfəlik silinəcək</h5>
                 <input asp-for="WordAzeSelected" class="d-none" type="text" id="azeDeleteHidden">
            </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ləğv et</button>
          <button type="submit" class="btn btn-danger" asp-action="DeleteWord" asp-controller="Admin">Sil</button>
        </div>
      </form>
      </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <h5 class="modal-title">Yeni söz</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <form asp-action="AddWord" asp-controller="Admin" method="post" autocomplete="off">
          <div class="modal-body">
                  <div class="form-group mt-1">
                    <input asp-for = "wordtoadd.Azerbaycan" type="text" class="form-control" id="azeAdd" placeholder="Azərbaycan" required>
                  </div>
                  <div class="form-group mt-1">
                    <input asp-for = "wordtoadd.Latin" type="text" class="form-control" id="latinAdd" placeholder="Latın">
                  </div>
                  <div class="form-group mt-2">
                    <input asp-for= "wordtoadd.Qazax" type="text" class="form-control" id="qazaxAdd" placeholder="Qazax">
                  </div>
                  <div class="form-group mt-2">
                    <input asp-for = "wordtoadd.Ozbek" type="text" class="form-control" id="ozbekAdd" placeholder="Özbək">
                  </div>
                  <div class="form-group mt-2">
                    <input asp-for = "wordtoadd.Turk" type="text" class="form-control" id="trAdd" placeholder="Türk">
                  </div>
                  <div class="form-group mt-2">
                    <input asp-for = "wordtoadd.Rus" type="text" class="form-control" id="rusAdd" placeholder="Rus">
                  </div>
                  <div class="form-group mt-2 text-info" style="color:red;" id="lessInput">Ən az bir xarici dil daxil edin!</div>
            </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ləğv et</button>
            <button type = "submit" id="addWordBtn" class="btn btn-success">Əlavə et</button>
          </div>
       </form>
    </div>
  </div>
</div>

    @*Main Body*@

    <div class="containerPage pt-4">
       <div class="container d-flex" style="justify-content: left;">
         <a asp-controller ="Translator" asp-action="Translating" class="btn btn-secondary">Tərcümə et</a>
       </div>
      <div class="addContainer container d-flex" style="justify-content: center;">
        <button onclick="addWord()" data-bs-toggle="modal" data-bs-target="#addModal"  type="button" class="btn btn-light btn-lg btn-block" style="width: 20rem;">Yeni söz əlavə et</button>
       </div>
       <div class="tableContainer">
        <div class="container table-responsive pt-5">
          <table id="tableWord" class="table table-fixed" >
              <thead>
                  <tr>
                      <th>№</th>
                      <th>Azərbaycan</th>
                      <th>Latın</th>
                      <th>Qazax</th>
                      <th>Özbək</th>
                      <th>Türk</th>
                      <th>Rus</th>
                      <th>Redaktə et</th>
                  </tr>
              </thead>
              <tbody id="tableWordBody">
                    @{
                        var counter =  1 ;
                    }
                 @foreach (var word in Model.wordtolist)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@word.Azerbaycan</td>
                        <td>@word.Latin</td>
                        <td>@word.Qazax</td>
                        <td>@word.Ozbek</td>
                        <td>@word.Turk</td>
                        <td>@word.Rus</td>
                        <td>
                            <i onclick="updateFill(this)" data-bs-toggle="modal" data-bs-target="#updateModal" class="fas fa-edit btn-update" title="Update"></i>
                            <i onclick="deleteWord(this)" data-bs-toggle="modal" data-bs-target="#deleteModal" class="fas fa-trash-alt btn-delete" title="Delete"></i>
                        </td>
                        </tr>
                        counter++;
                    }
                  </tbody>
          </table>
         </div>
       </div>
    </div>
    <script src=~/js/crudAdmin.js></script>